
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../coloris/coloris.css" />
  <script src="../coloris/coloris.js"></script>
</head>
<body>
  <div id="header-placeholder">
    <%= header %>
  </div>
  <h1>AWS Console Title Bar</h1>
  <div id="accborder">
    <div id="urlList"></div>
  </div>
  <div id="accountColors"></div>
  <div id="hiddenBox">&nbsp;</div>
  <div id="add-url-container">
    <div id="url-form-placeholder">
      <%= url_form %>
    </div>
    <div id="group-list-container">
      <div id="group-list"></div>
    </div>
    <div id="group-form-placeholder">
      <%= groups %>
    </div>
  </div>
  <div id="footer-placeholder">
    <%= footer %>
  </div>
</body>
</html>