/* Notes:

    Firefox restricts developers from explicitly resizing the popup via JavaScript for security reasons.
    The popup size is limited by Firefox: minimum size is 48x48px,
     and the maximum size is 800x600px.
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 340px;
  padding: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 250px;
  max-height: 800px;
  max-width: 600px;
  overflow: hidden;
}

#firefox-viewport {
  padding-bottom:40px;
}

#edit-mode {
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 1%;
}

