/* Notes:

    Firefox restricts developers from explicitly resizing the popup via JavaScript for security reasons.
    The popup size is limited by Firefox: minimum size is 48x48px,
     and the maximum size is 800x600px.
    Test your popup on various screen resolutions to ensure it renders correctly.

If you need further adjustments, let me know! */

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 340px;
  padding: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 250px;
  max-height: 800px;
  max-width: 600px;
  overflow: hidden;
}

#firefox-viewport {
  padding-bottom:40px;
}

#edit-mode {
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 1%;
}
/* #hiddenBox {
  height: 0px;
} */

#accountConfig {
  margin-top: 10px;
  visibility: hidden;
  text-align: center;
}

.remove-url {
  cursor: pointer;
  font-weight: bold;
  color: white;
  /* background-color: red; */
}



/* .hidden {
  visibility: hidden;
}
 */

