
#help-footer {
    position: fixed;
    bottom: -5px;
    left: -20px;
    transform: scale(0.8);
    transform-origin: bottom right;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-right: 5%;
  }
  
  #help-button {
    font-size: 0.8em;
    color: #495057;
    font-weight: bold;
    cursor: pointer;
  }


#awsso-footer {
    position: fixed;
    bottom: 0px;
    right: 0;
    transform: scale(0.8);
    transform-origin: bottom right;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-right: 5%;
  }
  
  #version-number {
    font-size: 0.8em;
    color: #495057;
    font-weight: bold;
  }
  