#awsso-header {
  float: right;
  font-size: 1.2em;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

#awsso-header:hover {
  background-color: rgb(212, 212, 212);
}

#awsso-header .svg-image {
  height: 0.8em;
  margin: 0px;
}

h1 {
  font-size: 1em;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
