#awsso-header {
    float: right;
    font-size: 1em;
    position: absolute;
    background-color: darkred;
    top: 0px;
    left: 0px;
    cursor: pointer;
  }
  
  #awsso-header:hover {
    background-color: #dfbb6f;
  }
  
  #awsso-header .svg-image {
    height: 1.2em;
    margin: 0px 0px 0px 4px;
  }