.tab {
    display: flex;
    padding-left:0px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.tab button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
    padding-left:6px;
    padding-right:6px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 10px;
    transition: border-top 0.3s;
    border: 1px solid #777070;
    border-bottom: 5px solid transparent;
    border-radius: 5px 5px 0px 0px;
}

.tab button:hover {
    border-top: 5px solid #7b3636;
}

.tab .active {
    border-top: 5px solid #0078d7;
    font-weight: bold;
}

.tabcontent {
    border-top: none;
    padding-left:15px;
    padding-right:15px;
    padding-top: 13px;
    padding-bottom: 25px;
    margin:0px;
    min-width:40px;
    min-height:200px;
    border: 1px solid rgb(68, 68, 68);
}