#urlListBoarder {
    margin: 0px 10px 0px 10px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid rgb(247, 232, 232);
    text-align: center;
    /* background-color: antiquewhite; */
    /* overflow-x: hidden; */
}


#urlList {
    /* margin-bottom: 5px; */
    height: 250px;
    /* background-color: cadetblue; */
    overflow-y: auto;
    overflow-x: hidden;
}

#urlList .group-title {
    cursor: pointer;
}

#urlList .group-title:hover {
    background-color: #c257b7;
}

#urlList .url-item {
    display: flex;
    margin-left: 20px;
    width: 100%;
    font-size: 1em;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

#urlList .url-item:hover {
    background-color: #57c264;
}

#urlList .url-item:active {
    opacity: 0.6;
}