#awsconsolelables_name {
  font-family: Amazon Ember, Helvetica Neue, Roboto, Arial, sans-serif;
  font-size: 14px;
  padding: 5px;
  font-weight: bolder;
  text-align: center;
  line-height: 1.7;
  font-weight: 400 !important;
  background: none;
  float: right;
}

#awsconsolelables_name .name {
  color: rgb(213, 219, 219);
  padding: 4px;
};

#awsconsolelables_name .clock {
  position: relative;
  color: #17D4FE;
  font-size: 3px;
  font-family: Orbitron;
}

#awsconsolelables .clock {
    position: relative;
    color: #17D4FE;
    font-size: 3px;
    font-family: Orbitron;
}

@keyframes blinkingBackground{
  0%		{ background-color: #10c018;}
  25%		{ background-color: #1056c0;}
  50%		{ background-color: #ef0a1a;}
  75%		{ background-color: #254878;}
  100%	        { background-color: #04a1d5;}
}