html,
body {
  width: 320px;
  padding: 0px;
  margin: 0px;
  border: 0px solid rgb(70, 70, 70);
  overflow: hidden;
  min-height: 100px;
  padding-bottom: 25px; /* Reduce bottom padding by 15px */
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

#hiddenBox {
  height: 0px;
}

#accurl {
  margin-bottom: 5px;
}
#awsso-header {
  float: right;
  font-size: 1em;
  position: absolute;
  top: 0px;
  left: 0px;
}

#awsso-header:hover {
  background-color: #dfbb6f;
}
#awsso-header {
  cursor: pointer;
}

#add-url-container {
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  height: 0px;
}

#add-url-container input {
  width:70%;
  margin: 2px;
}

.svg-image {
  height: 1.2em;
  margin: 0px 0px 0px 4px;
}
#accountColors {
  margin-top: 10px;
  visibility: hidden;
  text-align: center;
}
#accountColors {
  visibility: visible;
  text-align: center;
}


.remove-url {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: red;
}
#accborder {
  margin: 0px 20px 2px 20px;
  border-bottom: 1px solid gray;
  text-align: center;
}


#accountColors input[type='color' i] {
  appearance: auto;
  width: 50px;
  height: 1.2em;
  cursor: default;
  box-sizing: unset;
  background-color: buttonface;
  color: buttontext;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
  padding: 0px;
}
.page-choice {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-http {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-https {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-urls {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  user-select: none; /* Prevent text selection during drag */
  text-align: left; /* Change alignment to left */
}
.page-choice-urls:hover {
  background-color: #57c264;
}
.page-choice-urls:active {
  opacity: 0.6; /* Visual feedback when dragging */
}
.page-choice:hover {
  background-color: #57c264;
}

.modern-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.modern-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

#awsso-footer {
  position: fixed;
  bottom: 0px;
  right: 0;
  transform: scale(0.8);
  transform-origin: bottom right;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-right: 5%;
}

#awsso-footer .svg-image {
  margin-right: 8px;
}

#version-number {
  font-size: 0.8em;
  color: #495057;
  font-weight: bold;
}


#help-footer {
  position: fixed;
  bottom: -5px; 
  left: -20px;
  transform: scale(0.8);
  transform-origin: bottom right;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-right: 5%;
}

#help-button {
  font-size: 0.8em;
  color: #495057;
  font-weight: bold;
  cursor: pointer; /* Ensure cursor changes to pointer */
}

.group-title {
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
}

.group-select-container {
  display: flex;
  align-items: center;
}

.group-select-container select {
  flex: 1;
  margin-right: 5px;
}

.group-select-container input {
  flex: 1;
  width: 50%;
}
