html {
  /* width: 520px; */
  box-sizing: border-box;
}

body {
  width: 280px;
  padding: 0px;
  margin: 10px;
  /* border: 0px solid rgb(70, 70, 70); */
  box-sizing: border-box;
  min-height: 100px;
  user-select: none;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

#awsBanner {
  background-color: #232f3e;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  box-sizing: inherit;
}

.page-choice {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.page-choice-urls {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-urls:hover {
  background-color: #c29e57;
}

@keyframes blinkingBackground {
  0% {
    background-color: #10c018;
  }
  25% {
    background-color: #1056c0;
  }
  50% {
    background-color: #ef0a1a;
  }
  75% {
    background-color: #254878;
  }
  100% {
    background-color: #04a1d5;
  }
}
