html,
body {
  width: 320px;
  padding: 0px;
  margin: 0px;
  border: 0px solid rgb(70, 70, 70);
  overflow: hidden;
  min-height: 100px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1em;
  width: 100%;
  text-align: center;
}

#hiddenBox {
  height: 0px;
}

#accurl {
  margin-bottom: 5px;
}
#awsso-footer {
  float: right;
  font-size: 1em;
  position: absolute;
  top: 0px;
  left: 0px;
}

#awsso-footer:hover {
  background-color: #dfbb6f;
}
#awsso-footer {
  cursor: pointer;
}

#add-url-container {
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  height: 0px;
}

#add-url-container input {
  width:70%;
  margin: 2px;
}

.svg-image {
  height: 1.2em;
  margin: 0px 0px 0px 4px;
}
#accountColors {
  margin-top: 10px;
  visibility: hidden;
  text-align: center;
}
#accountColors {
  visibility: visible;
  text-align: center;
}


.remove-url {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: red;
}
#accborder {
  margin: 0px 20px 2px 20px;
  border-bottom: 1px solid gray;
  text-align: center;
}


#accountColors input[type='color' i] {
  appearance: auto;
  width: 50px;
  height: 1.2em;
  cursor: default;
  box-sizing: unset;
  background-color: buttonface;
  color: buttontext;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
  padding: 0px;
}
.page-choice {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-http {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-https {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-urls {
  width: 100%;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.page-choice-urls:hover {
  background-color: #57c264;
}
.page-choice:hover {
  background-color: #57c264;
}

.modern-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.modern-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
