html,
body {
  min-width: 320px;
  padding: 20px;
  margin: 0px 1px 0px 1px;
  border: none;
  overflow: visible;
  min-height: 400px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}

h1, h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

pre {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  line-height: 1.4;
  overflow: auto;
  padding: 10px;
  margin: 10px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  display: block;
  color: #333;
  font-size: 12px;
  line-height: 1.4;
  overflow: auto;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1em;
  margin-bottom: 5px;
  display: block;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#status {
  margin-top: 20px;
  font-size: 1em;
  color: #d9534f;
}

.modern-button {
  padding: 12px 24px;
  font-size: 1em;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modern-button:hover {
  background-color: #218838;
}


#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: scale(0.8);
  transform-origin: bottom right;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding-right: 5%;
}

#footer .svg-image {
  margin-right: 8px;
}

#version-number {
  font-size: 0.8em;
  color: #495057;
  font-weight: bold;
}
