html,
body {
  min-width: 320px;
  padding: 0px;
  margin: 0px;
  border: 0px solid rgb(70, 70, 70);
  overflow: visible;
  min-height: 300px;
}

pre {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  line-height: 1;
  overflow: auto;
  padding: 10px;
  margin: 10px 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  display: block;
  color: #333;
  font-size: 8px;
  line-height: 0.9;
  overflow: auto;
  padding: 0;
  margin: 0;
}
#accountColors input {
  padding: 0px;
}

#accountColors label {
  width: 300px;
  display: inline-block;
  font-size: 14px;
  line-height: 2;
}

