




#awsso-footer {
  float: right;
  font-size: 1em;
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: inherit;
  text-align: right;
  margin-right:10px;
}

#awsso-footer  .svg-image {
  height: 1.2em;
  margin: 0px 0px 0px 4px;
  border-radius: 40%;
}

#awsso-footer .svg-image:hover {
  background-color: #fc7e7e;

}

#settingsBlock {
  width: inherit;
  margin: 8px 2px 2px 8px;
  box-sizing: border-box;
  padding-right: 10px;;
}

